# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/
env/

# System files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

# Logs
*.log
